// Main App Scss

@import "~bootstrap/scss/bootstrap";

$color-main-green: #25393A;
$color-light-green: #63747A;
$color-main-orange: #f57423;
$color-dark-orange: #8C4A20;


body {
    background-color: $color-light-green;
    color: #fff;
}

header {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 2.5em;
    padding: 1em;

    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/photo-background.jpg');
    background-color: $color-main-green;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: $color-main-orange;
    text-decoration: none;

}
a:hover {
    color: $color-dark-orange;
}

.btn-standard {
    background-color: $color-main-orange;
    color: #fff;
    border: none;
    -webkit-box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.15); 
    box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.15);
}
.btn-standard:hover,
.btn-standard:disabled {
    background-color: $color-dark-orange;
    color: #cecece;
}

// Navigation styling
.navbar {
    -webkit-box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.24); 
    box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.2);
    background-color: $color-main-green;
    a.navbar-brand {
        color: #fff;
    }
    a.navbar-brand:hover {
        color: $color-light-green;
    }
    a.navbar-brand:visited {
        color: #fff
    }
    .navbar-nav .nav-link {
        color: #fff;
    }
    .navbar-nav a.nav-link:hover {
        color: $color-light-green;
    }
    .navbar-nav a.nav-link.active {
        color: #878A86
    }
    .navbar-toggler {
        border: none;
    }
}

// Frontpage Styling
.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/photo-background.jpg');
    background-size: cover;
    background-position: center;
    background-color: $color-main-green;
    color: #fff;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .frontpage-content {
        text-align: center;
        margin: 1.5em;
    }
}

// Register and login styling
.form-wrapper {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
div.card {
    background-color: $color-main-green;
    -webkit-box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.24); 
    box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.2);
    border: none;
}

// Album page styling
.review-link-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0.25em 1em;
    background-color: $color-main-green;
    text-align: center;
    -webkit-box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.24); 
    box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.2);
    p {
        margin: 1em;
    }
}

// Photo upload styling
.photo-upload-zone {
    padding: 2em;
    background-color: $color-main-green;
    color: #fff;
    border: 1px dashed #fff;
    margin: 1em 0;
    text-align: center;
}
.info-message p {
    font-style: italic;
    margin: 0.75em;
}

// Review album
.thumbs-up,
.thumbs-down {
    color: $color-light-green;
}
.thumb-active {
    color: $color-main-orange;
}

// Media queries
@media only screen and (max-width: 600px) {
    .album-buttons .btn.btn-standard {
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
  }