// Main App Scss

@import "~bootstrap/scss/bootstrap";

$color-main-green: #25393A;
$color-light-green: #63747A;


body {
    background-color: $color-light-green;
    color: #333;
}

// Navigation styling
.navbar {
    -webkit-box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.24); 
    box-shadow: 0px 6px 8px 1px rgba(0,0,0,0.2);
    background-color: $color-main-green;
    a.navbar-brand {
        color: #fff;
    }
    a.navbar-brand:hover {
        color: $color-light-green;
    }
    a.navbar-brand:visited {
        color: #fff
    }
    .navbar-nav .nav-link {
        color: #fff;
    }
    .navbar-nav a.nav-link:hover {
        color: $color-light-green;
    }
    .navbar-nav a.nav-link.active {
        color: #878A86
    }
    .navbar-toggler {
        border: none;
    }
}

// Frontpage Styling
.frontpage-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/photo-background2.jpg');
    background-size: cover;
    background-position: center;
    background-color: #333;
    color: #fff;

    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .frontpage-content {
        text-align: center;
        margin: 1.5em;
    }
}

// Register and login styling
.form-wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

// Photo upload styling
.photo-upload-zone {
    padding: 1em 2em;
    background-color: #333;
    color: #fff;
    border: 1px dashed #fff;
    margin: 1em 0;
    text-align: center;
}

// Review album
.thumbs-up,
.thumbs-down {
    color: gray;
}
.thumb-active {
    color: rgb(71, 71, 241);
}